.contact__section {
    padding: 4rem 5%;
    background-color: #f8f9fa;
    text-align: center;
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact__info {
    text-align: left;
}

.contact__form {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact__form label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--blue);
    margin-bottom: 0.5rem;
    display: inline-block;
}

.contact__form input,
.contact__form textarea {
    width: 500px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--lightblue);
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f1f1f1;
    transition: all 0.3s ease;
    outline: none;
}

.contact__form input:focus,
.contact__form textarea:focus {
    background-color: #fff;
    border-color: var(--blue);
    box-shadow: 0 0 0 3px rgba(0, 67, 123, 0.2);
}

.contact__form textarea {
    resize: none;
    height: 150px;
}

.contact__button {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    background-color: var(--lightblue);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.contact__button:hover {
    background-color: var(--blue);
}
.textinput{
    width: 5rem;
}

@media screen and (max-width: 1024px){
    .textinput{
        width: 1rem;
    }
    .contact__form textarea{
        width: 15rem;
    }
    .contact__form input{
        width: 15rem;
    }
}